.block-organizations
    &--map
        .leaflet-popup-content
            .media--logo
                background-color: $color-background-white
    &--grid
        .organizations
            .organization-title a
                @include h3
                &::after
                    display: inline
                    content: '→' / ""
                    padding-left: $spacing-1
            @include in-page-with-sidebar
                @include grid(2)