.block-organizations
    &--map
        .map
            background-color: var(--color-background)
            .organization
                @include in-page-without-sidebar
                    .organization-title
                        @include body-text
        .leaflet-popup-content
            .media--logo
                background-color: $color-background-white
        .leaflet-tile
            filter: grayscale(100%)
            opacity: 60% !important
            pointer-events: none
        @include media-breakpoint-up(desktop)
            .page-partner_schools &
                position: relative
                z-index: $zindex-footer
                .block-content
                    padding-left: 0 !important
                    .organization-title
                        @include body-text
                .top
                    padding-left: offset(4)
    &--grid
        .organizations
            &,
            &.with-summaries
                .organization-content
                    display: flex
                    flex-direction: column
                    .organization-title
                        @include h4
                        a::after
                            display: inline
                            content: '→' / ""
                            padding-left: $spacing-1
                    @include media-breakpoint-down(desktop)
                        .organization-title
                            @include h5
                        address
                            @include meta
                .organization-summary
                    order: 2
                    + address
                        margin-bottom: space(4)
                address
                    margin-top: space(4)
        &:not(.organizations--with-images)
            .organizations
                @include in-page-with-sidebar
                    @include grid(2)