.block-organizations
    &--map
        .map
            background-color: var(--color-background)
        .leaflet-popup-content
            .media--logo
                background-color: $color-background-white
        .leaflet-tile
            filter: grayscale(100%)
            opacity: 60% !important
            pointer-events: none
    &--grid
        .organizations
            &,
            &.with-summaries
                .organization-content
                    display: flex
                    flex-direction: column
                    .organization-title
                        @include h4
                        a::after
                            display: inline
                            content: '→' / ""
                            padding-left: $spacing-1
                    address [itemprop="name"]
                        display: none
                    @include media-breakpoint-down(desktop)
                        .organization-title
                            @include h5
                        address
                            @include meta
                .organization-summary
                    order: 2
                    + address
                        margin-bottom: space(4)
                address
                    margin-top: space(4)
                @include in-page-with-sidebar
                    @include grid(2)