.block-pages
    &--list
        .pages.title-only
            display: block !important
            li
                @include h1
                a
                    text-underline-offset: 5px
                    &::before
                        content: '→'
                        font-family: inherit
            @include in-page-with-sidebar
                li a
                    @include h2
                    text-underline-offset: 3px
    @include media-breakpoint-up(desktop)
        .top
            margin-bottom: $spacing-3