.block-video
    &.block-class-pisourde,
    &.block-class-pisourd
        button.btn
            span
                display: none
            &::before
                content: 'Vidéo en LSF'
            &::after
                @include icon-site('icon-pisourde')
                font-size: inherit
        & + .block
                --heading-margin-top: $spacing-3
