header#document-header
    .logo
        display: flex
        gap: pxToRem(25)
        p
            @include h1
            line-height: 90%
            max-width: pxToRem(400)
            margin-top: pxToRem(-6)
    .logo-container
        .tagline
            @include meta
            margin-left: pxToRem(253)
            margin-top: pxToRem(5)
            a
                &::after
                    display: none
    .menu
        .nav-level-1
            justify-content: space-between
            > li
                > a, > span
                    &::after
                        display: none
                    > strong
                        font-weight: inherit
                        &::before
                            font-size: pxToRem(20)
                            content: url(/assets/images/menu-picto.svg)
                            display: inline-block
                            padding-right: pxToRem(5)
                        &::after
                            content: ' ↓'
                &:first-child
                    > a
                        padding-left: 0
                &:last-child
                    a
                        @extend .btn
                        min-width: 0
                        white-space: nowrap
        .nav-level-2
            > li
                > a, > span
                    @include h4
    @include media-breakpoint-up(desktop)
        .upper-menu
            position: absolute
            top: $spacing-4
            right: 0
            background: transparent
            display: flex
            align-items: end
            > .container
                width: auto
                max-width: calc(100vw - #{pxToRem(600)})
                > ul
                    gap: pxToRem(45)
                    flex-wrap: wrap
                    justify-content: end
        &:not(.is-sticky)
            .menu
                padding-top: $spacing-4
                width: 100%
                .nav-level-1
                    > li
                        > a, > span
                            @include h3
                            > strong
                                display: block
        &.is-sticky
            .upper-menu
                display: none
            .logo-container
                .logo p,
                .tagline
                    display: none
                .logo img
                    width: pxToRem(94)
                    height: auto
            .primary-menu
                padding-bottom: pxToRem(20)
                padding-top:  pxToRem(15)
                > .container
                    align-items: center
                    gap: var(--grid-gutter)
            .menu
                flex: 1
                .nav-level-1
                    align-items: center // old browser support
                    align-items: baseline
                    justify-content: start
                    gap: $spacing-2
                    > li
                        &:last-child
                            margin-left: auto
                            a
                                --btn-font-size: var(--meta-size)
                                --btn-padding: var(--btn-small-padding)
                                --btn-line-height: var(--btn-small-line-height)
