header#document-header
    .logo
        display: flex
        gap: pxToRem(25)
        p
            @include h1
            line-height: 90%
            max-width: pxToRem(400)
            margin-top: pxToRem(-6)
    .logo-container
        .tagline
            @include meta
            margin-left: pxToRem(253)
            margin-top: pxToRem(5)
            a
                &::after
                    display: none
    .menu
        .nav-level-1
            > li
                > a, > span
                    @include h3
                &:first-child
                    > a
                        padding-left: 0
                &:last-child
                    a
                        @extend .btn
                        white-space: nowrap
    @include media-breakpoint-up(desktop)
        .upper-menu
            position: absolute
            top: $spacing-4
            right: 0
            background: transparent
            display: flex
            align-items: end
            > .container
                width: auto
                max-width: calc(100vw - #{pxToRem(600)})
                > ul
                    gap: $spacing-2
                    flex-wrap: wrap
                    justify-content: end
        .menu
            padding-top: $spacing-4
