.events
    .event
        .event-categories a
            text-decoration: none
        .event-description
            @include body-text
        .event-content
            display: flex
            flex-direction: column
            .event-categories
                order: -1
            hgroup,
            .event-title
                order: -2
    &--grid
        .event
            .media
                img
                    aspect-ratio: 3/2
        @include in-page-without-sidebar
            @include grid(2, desktop)
        .event-schedule
            display: flex
            .event-dates,
            .event-time
                @include h3
            .event-time::before
                content: ', '
                margin-right: $spacing-1
    &--agenda 
        .events-date
            border: none
            span
                padding-top: $spacing-3
            @include media-breakpoint-up(desktop)
                .events-date-title
                    margin-bottom: $spacing-4
        .events-date-title
            &,
            html:not(.is-scrolling-down) &
                position: relative
                top: 0
                max-width: unset
        .event
            + .event
                border: none
                padding-top: 0
            &:not(.event--child) 
                .event-hours
                    bottom: unset
                    &,
                    html:not(.is-scrolling-down) &
                        span
                            position: relative
                            top: unset
        .media img
            aspect-ratio: 3/2
            object-fit: cover
        @include in-page-without-sidebar
            .event:not(.event--child)
                gap: 0 !important
                margin-left: 0
                padding-left: 0
                .event-hours
                    width: columns(2)
                    time + time
                        display: block
                        &::before
                            margin-left: 0
                .media
                    margin-left: columns(2)
                    width: offset(4)
                    img
                        padding-right: var(--column-width)
            .event--child
                margin-left: columns(2)
                padding-left: calc(#{offset(1)} + var(--grid-gutter))
                .event-hours
                    margin-top: 0
                .media
                    width: calc(#{columns(2)} + var(--grid-gutter))
            .event-content
                width: columns(5)
                flex: unset
        @include media-breakpoint-down(desktop)
            .event--parent
                .media
                    margin-left: 0
                    margin-right: 0
            .event--child
                flex-direction: column
                .media
                    order: -1

.events__section
    // TODO : nettoyer
    .agenda-exhibitions
        --color-background-alt: var(--color-accent)
        --color-text: var(--color-background)
        &, a, p
            color: var(--color-background) !important

.events__page,
.exhibitions__page
    .hero
        .taxonomies-single
            ul
                margin-bottom: 0
            a
                text-decoration: none
        figure
            order: 2
        .hero-actions
            padding-bottom: $spacing-3
        @include media-breakpoint-up(desktop)
            .hero-text
                row-gap: $spacing-4
                .taxonomies-single
                    margin-top: 0
        @include media-breakpoint-down(desktop)
            &--with-image .hero-text
                margin-bottom: 0
    [class$="-access"]
        .event-slots
            margin-top: 0
            > ul
                > li
                    @include h3
        > div:last-child
            border-bottom: none
            padding-bottom: $spacing-2
        .dropdown-calendar
            .dropdown-menu
                border: 1px solid var(--color-text)
            @include media-breakpoint-down(desktop)
                button
                    padding: 0 !important
                .dropdown-menu
                    right: var(--grid-gutter)
                    width: calc(100vw - (var(--grid-gutter) * 2)) !important
    [class$="-sidebar"]
        h2
            @include meta
            margin-bottom: space()
        .btn
            @extend .button--accent
        * + .btn
            margin-top: $spacing-4