// global
.events,
.exhibitions
    .event,
    .exhibition
        [class$="-categories"] a
            text-decoration: none
        [class$="-description"]
            @include body-text
        [class$="-content"]
            display: flex
            flex-direction: column
            [class$="-categories"]
                order: -1
            hgroup,
            [class$="-title"]
                order: -2
            .event-parent
                order: -3
        [class$="-time"],
        [class$="-hours"]
            time + time,
            span + span
                &::before
                    content: '→'
                    font-family: inherit
    &--grid
        .event
            .media
                img
                    aspect-ratio: 3/2
        @include in-page-without-sidebar
            @include grid(2, desktop)
        [class$="-schedule"]
            display: flex
            [class$="-dates"],
            [class$="-time"]
                @include h3
            [class$="-time"]::before
                content: ', '
                margin-right: $spacing-1
    &--agenda 
        .events-date
            border: none
            span
                padding-top: $spacing-3
            @include media-breakpoint-up(desktop)
                .events-date-title
                    margin-bottom: $spacing-4
        .events-date-title
            &,
            html:not(.is-scrolling-down) &
                position: relative
                top: 0
                max-width: unset
        .event
            + .event
                border: none
                padding-top: 0
            &:not(.event--child) 
                .event-hours
                    bottom: unset
                    &,
                    html:not(.is-scrolling-down) &
                        span
                            position: relative
                            top: unset
        .media img
            aspect-ratio: 3/2
            object-fit: cover
        @include in-page-without-sidebar
            .event:not(.event--child)
                gap: 0 !important
                margin-left: 0
                padding-left: 0
                .event-hours
                    width: columns(2)
                    time + time
                        display: block
                        &::before
                            margin-left: 0
                .media
                    margin-left: columns(2)
                    width: offset(4)
                    img
                        padding-right: var(--column-width)
            .event--child
                margin-left: columns(2)
                padding-left: calc(#{offset(1)} + var(--grid-gutter))
                .event-hours
                    margin-top: 0
                .media
                    width: calc(#{columns(2)} + var(--grid-gutter))
            [class$="-content"]
                width: columns(5)
                flex: unset
        @include media-breakpoint-down(desktop)
            .event--parent
                .media
                    margin-left: 0
                    margin-right: 0
            .event--child
                flex-direction: column
                .media
                    order: -1

// single page
.events__page,
.exhibitions__page
    .hero
        .taxonomies-single
            ul
                margin-bottom: 0
            a
                text-decoration: none
        figure
            order: 2
        .hero-actions
            padding-bottom: $spacing-3
        @include media-breakpoint-up(desktop)
            .hero-text
                > h1, > hgroup
                    margin-bottom: $spacing-3
                hgroup h1
                    margin-bottom: $spacing-3
                .taxonomies-single
                    margin-top: 0
        @include media-breakpoint-down(desktop)
            &--with-image .hero-text
                margin-bottom: 0
    [class$="-access"]
        .event-slots
            margin-top: 0
            > ul
                > li
                    @include h3
        > div:last-child
            border-bottom: none
            padding-bottom: $spacing-2
        .dropdown-calendar
            .dropdown-menu
                border: 1px solid var(--color-text)
            @include media-breakpoint-down(desktop)
                button
                    padding: 0 !important
                .dropdown-menu
                    right: var(--grid-gutter)
                    width: calc(100vw - (var(--grid-gutter) * 2)) !important
    [class$="-sidebar"]
        h2
            @include meta
            margin-bottom: space()
        .btn
            @extend .button--accent
        * + .btn
            margin-top: $spacing-4

// sections
.events__section
    .agenda-exhibitions
        --color-background-alt: var(--color-accent)
        --color-text: var(--color-background)
        &, a, p
            color: var(--color-background) !important
        .exhibition-schedule
            position: relative
            order: -3
            margin-bottom: $spacing-1
        .exhibitions--agenda
            .more::after
                content: '→'
                font-family: inherit

// federated content (sections only for now)
.events__section,
.exhibitions__section
    [class$="-agenda"]
        .event,
        .exhibition
            [class$="-content"]
                align-items: flex-start
            &.is-federated
                border: 2px solid $color-background-white
                border-radius: pxToRem(10)
                padding-bottom: space(5)
                padding-top: space(5)
                margin-left: space(-4) !important
                .event-federation
                    background: $color-background-white
                    padding: space() space(2)
                    order: -3
                    margin-bottom: $spacing-1
                .event-hours
                    left: space(4)
                @include media-breakpoint-down(desktop)
                    margin-left: calc(var(--grid-gutter-negative) / 2)
                    margin-right: calc(var(--grid-gutter-negative) / 2)
                    padding-left: calc(var(--grid-gutter) / 2)
                    padding-right: calc(var(--grid-gutter) / 2)
                    .event-federation
                        margin-bottom: space(5)
    .events-archives-years
        ol li::after
            content: '→'
            font-family: inherit

.agenda-filters
    .dropdown
        > span[role="button"]
        > button
            &::after
                content: '↓'
                font-family: inherit
            &[aria-expanded="true"]::after
                content: '↑'
                font-family: inherit
        .calendar-month tbody a
            @include meta
            display: inline-flex
            align-items: center
            justify-content: center