.posts--grid,
.block-posts--grid
    .post
        .media
            img
                aspect-ratio: unset
        &.portrait
            .media
                padding-left: $spacing-5
                padding-right: $spacing-5