.programs__section
    .hero 
        .content
            .hero-text
                width: 100%
    .document-content
        @include media-breakpoint-up(desktop)
            > section
                .content > h2
                    @include meta
                    position: relative
                    top: unset !important
            .content > div 
                > section
                    > h3:first-of-type
                        position: absolute
                        margin-top: 0
                        left: 0 
                    > p:first-of-type
                        margin-top: 0
                    &:first-of-type
                        margin-top: 0 !important
                        h3
                            margin-top: space(7)
                > figure + section:first-of-type
                    margin-top: $spacing-4 !important
                    h3
                        margin-top: 0
        .diplomas-select
            --dropdown-background: var(--color-text)
            --dropdown-color: var(--color-background)
            --dropdown-hover-background: var(--color-background)
            --dropdown-hover-color: var(--color-text)
            @include media-breakpoint-up(desktop)
                .dropdown-menu
                    border: 1px solid var(--color-text)
                    border-radius: 4px
                    overflow: hidden
        ol.programs--light
            li
                border: none
                padding-top: 0
                a
                    @extend .btn
                    &::after
                        content: none
    @include media-breakpoint-up(desktop)
        .block-gallery--carousel
            overflow: visible
            .slider-track
                overflow: hidden
                margin-right: var(--grid-gutter-negative)
                // negative offset(4)
                margin-left: calc(-1 * calc((var(--column-width) * 5) + var(--grid-gutter) * ( 5 - 1 )) - var(--grid-gutter))
                padding-left: offset(5)
